.line{
    stroke-dasharray: 250;
    stroke-dashoffset: 250;
    animation: drawLine 2s linear forwards;
}

.code-line{
    stroke-dasharray: 70;
    stroke-width: 4;
    stroke-dashoffset: 70;
    animation: drawLine 1s linear forwards;
}

.sig{
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: drawLine 3s linear forwards;
}

@keyframes drawLine{
    to{
        stroke-dashoffset: 0;
    }
}
